<h1>People</h1>
<p><%= link_to "Create a New Person", new_contact_path %></p>
<% @contacts.each do |contact| %>
<h2><%= contact.name %></h2>
<%= link_to "Person's Info", contact_path(contact) %>
<% end %>
